table.table
  thead
    tr
      th(scope="col") Auftrags-Nr.
      th(scope="col") Befund
      th(scope="col") Auftragsdatum
  tbody
    each row in rows

      //- Give the row a red background in case the PDF also marked the result with red.
      - var rowClass = ['positiv', 'kontrollbedürftig'].includes(row.Result.toLowerCase()) ? 'table-danger' : ''

      tr(class=rowClass)
        th(scope="row") #{row.Code}
        td #{row.Result}
        td 
          a(href="https://www.kvhh.net/media/public/db/media/1/2020/04/833/"+row.Filename) #{row.Date}

h3 Was bedeuten die Befunde?
p.
  Informationen zu der Bedeutung der Befunde und eventuelle Handlungsempfehlungen findest Du auf
  #[a(href="https://www.kvhh.net/kvhh/pages/index/p/1424") kvhh.net].