footer.text-center
  hr
  
  p.text-muted Stand: #{lastUpdated} (aktualisiert: #[abbr(title=lastModifiedAbsolute) #{lastModifiedRelative}])

  p.text-muted
    small Dieser Service wird #[strong nicht] von der Kassenärztlichen Vereinigung Hamburg bereitgestellt.
    br
    small Alle Angaben sind ohne Gewähr. Keine Garantie auf Vollständigkeit.