nav.navbar.navbar-expand-sm.navbar-dark.bg-dark.mb-3
  div.container
    a.navbar-brand(href="/") Corona Abstrichtest

    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Navigation ein-/ausblenden")
      span.navbar-toggler-icon

    div.collapse.navbar-collapse(id="navigation")
      div.navbar-nav.mr-auto
        //- - var item = { url: '/alle-daten', title: 'Alle Daten', module: 'all-data' }
        //- include nav-item.pug

        - var item = { url: '/hintergrund', title: 'Hintergrund', module: 'about' }
        include nav-item.pug