doctype html

html(lang="de")
  include partials/head.pug
  
  body
    include partials/navigation.pug

    div.container
      h1.mb-3 Hintergrund dieser Seite

      p Das Wichtigste vorweg:
      ul
        li Diese Seite und die auf ihr zur Verfügung gestellten Informationen sind #[strong kein Angebot der KVHH].
        li Die Informationen können #[strong fehlerhaft und/oder unvollständig] sein.
        li.
          Bitte konsultiere im Zweifelsfall immer
          #[a(href="https://www.kvhh.net/kvhh/pages/index/p/1424") die offizielle Seite der KVHH].
      
      h3 Motivation

      p.
        Bei Verdacht auf eine Infektion mit SARS-CoV-2 schickt der Arztruf Hamburg
        (#[abbr(title="Telefon") Tel.:] 116117) einen Mitarbeiter/eine Mitarbeiterin vorbei, die einen Abstrich
        des tiefen Rachenraums durchführt.
      
      p.
        Der Patient/die Patientin wird gebeten das Ergebnis des Tests auf der Internetseite der KVHH
        (#[a(href="https://www.kvhh.net/kvhh/pages/index/p/1424") kvhh.net]) zu prüfen. Dazu muss er/sie eine oder mehrere
        der dort angebotenen PDF-Dateien herunterladen und per Textsuche nach dem Ergebnis schauen.
      
      p Das erschien mir ein bisschen zu kompliziert.

      h3 Wie funktioniert diese Seite?

      p
        ol
          li Zu jeder vollen Stunde werden alle PDF-Dateien von der der Seite der KVHH automatisch heruntergeladen.
          li Dann extrahiert ein Script aus den PDF-Dateien die Tabellen im CSV-Format.
          li Im Anschluss wird die Website aktualisiert.
      
      p.text-muted.
        Interesse an den Details?
        #[a(href="https://github.com/wtimme/kvhh-covid-check") Schau Dir den Quelltext auf GitHub.com an.]
      
      p.
        Nach Eingabe des Codes in die Suchmaske werden alle im Augenblick zur Verfügung stehenden Befunde durchsucht.
        Dabei werden auch Ergebnisse angezeigt, die nur einen #[i Teil] des Codes enthalten. (So findet eine Suche nach
        "234" sowohl den Befund mit dem Code "1234" als auch den mit dem Code "2345".)
      
      p.
        Noch kein Ergebnis? Praktischerweise kannst Du die Seite mit den Suchergebnissen einfach neu laden, z. B. mittels
        #[code command] + #[code R], um erneut zu suchen.

      h3 Wie aktuell sind die Daten?

      p.
        Die über diese Seite einsehbaren Befunde werden zu jeder volle Stunde aktualisiert und stehen etwa 20 Minuten
        später zur Verfügung.

      p Die Aktualität der Daten kannst Du der Fußnoten auf jeder Seite entnehmen.
        ul
          li.
            #[strong "Stand"] entspricht dem Datum, das auf
            #[a(href="https://www.kvhh.net/kvhh/pages/index/p/1424") kvhh.net] einsehbar ist.
          li.
            #[strong "aktualisiert"] gibt an, wann die Daten zuletzt zwischen kvhh.net und #[i dieser] Seite
            synchronisiert wurden.
      
      h3 Datenschutz

      p.
        Bevor die neusten Daten heruntergeladen werden, löscht ein Programm die alten PDFs. So ist sichergestellt,
        dass diese Seite dieselben (und nicht mehr) Informationen anzeigt wie
        #[a(href="https://www.kvhh.net/kvhh/pages/index/p/1424") kvhh.net].
      
      p.
        Laut Aussage der KVHH (siehe #[a(href="https://www.kvhh.net/kvhh/pages/index/p/1424") hier]) werden die Daten
        "am Tag 15 nach Veröffentlichung" wieder gelöscht.
      
      p.
        #[i Diese] Seite speichert keinerlei Informationen - keine Suchanfragen, keine Server-seiten Zugriffslogs,
        keine Cookies.
      
      p Eine Datenweitergabe an Dritte erfolgt ebenfalls nicht, da solche Inhalte hier nicht eingebunden sind.
    
      include partials/footer.pug

    script(src='/js/jquery.min.js')
    script(src='/js/popper.min.js')
    script(src='/js/bootstrap.min.js')
