doctype html

html(lang="de")
  include partials/head.pug
  
  body
    include partials/navigation.pug

    div.container
      h1.mb-3 Hintergrund dieser Seite

      p Das Wichtigste vorweg:
      ul
        li
          strong.text-danger.
            Da das Format der PDF-Dateien nicht einheitlich ist musste dieser Dienst inzwischen leider eingestellt werden.
        li Diese Seite und die auf ihr zur Verfügung gestellten Informationen sind #[strong kein Angebot der KVHH].
        li Die Informationen können #[strong fehlerhaft und/oder unvollständig] sein.
        li.
          Bitte konsultiere im Zweifelsfall immer
          #[a(href="https://www.laborergebnisse-hamburg.de/") die offizielle Seite der KVHH].
      
      h3 Motivation

      p.
        Bei Verdacht auf eine Infektion mit SARS-CoV-2 schickt der Arztruf Hamburg
        (#[abbr(title="Telefon") Tel.:] 116117) einen Mitarbeiter/eine Mitarbeiterin vorbei, die einen Abstrich
        des tiefen Rachenraums durchführt.
      
      p.
        Der Patient/die Patientin wird gebeten das Ergebnis des Tests auf der Internetseite der KVHH
        (#[a(href="https://www.laborergebnisse-hamburg.de/") laborergebnisse-hamburg.de]) zu prüfen.
        Dazu muss er/sie eine oder mehrere der dort angebotenen PDF-Dateien herunterladen und per Textsuche nach dem Ergebnis schauen.
      
      p Das erscheint mir ein bisschen zu kompliziert.

      h3 Wie funktionierte diese Seite?

      p
        ol
          li Zu jeder vollen Stunde wurden alle PDF-Dateien von der der Seite der KVHH automatisch heruntergeladen.
          li Dann extrahierte ein Script aus den PDF-Dateien die Tabellen im CSV-Format.
          li Im Anschluss wurde die Website aktualisiert.
      
      p.text-muted.
        Interesse an den Details?
        #[a(href="https://github.com/wtimme/kvhh-covid-check") Schau Dir den Quelltext auf GitHub.com an.]
      
      p.
        Nach Eingabe des Codes in die Suchmaske wurden alle im Augenblick zur Verfügung stehenden Befunde durchsucht.
        Dabei wurden auch Ergebnisse angezeigt, die nur einen #[i Teil] des Codes enthalten. (So fand eine Suche nach
        "234" sowohl den Befund mit dem Code "1234" als auch den mit dem Code "2345".)
      
      p.
        Noch kein Ergebnis? Praktischerweise konntest Du die Seite mit den Suchergebnissen einfach neu laden, z. B. mittels
        #[code command] + #[code R], um erneut zu suchen.

      h3 Wie aktuell waren die Daten?

      p.
        Die über diese Seite einsehbaren Befunde wurden zu jeder volle Stunde aktualisiert und standen etwa 20 Minuten
        später zur Verfügung.
      
      h3 Datenschutz

      p.
        Bevor die neusten Daten heruntergeladen wurden, löschte ein Programm die alten PDFs. So war sichergestellt,
        dass diese Seite dieselben (und nicht mehr) Informationen anzeigte wie
        #[a(href="https://www.laborergebnisse-hamburg.de/") laborergebnisse-hamburg.de].
      
      p.
        Laut Aussage der KVHH (siehe #[a(href="https://www.laborergebnisse-hamburg.de/") hier]) werden die Daten
        "am Tag 15 nach Veröffentlichung" wieder gelöscht.
      
      p.
        #[i Diese] Seite speichert keinerlei Informationen - keine Suchanfragen, keine Server-seiten Zugriffslogs,
        keine Cookies.
      
      p Eine Datenweitergabe an Dritte erfolgt ebenfalls nicht, da solche Inhalte hier nicht eingebunden sind.
    
      include partials/footer.pug

    script(src='/js/jquery.min.js')
    script(src='/js/popper.min.js')
    script(src='/js/bootstrap.min.js')
