doctype html

html(lang="de")
  include partials/head.pug
  
  body
    include partials/navigation.pug

    div.container
      if !rows.length
        div.alert.alert-success(role="alert")
          h4.alert-heading Keine Daten verfügbar
          p Im Augenblick können hier keine Laborergebnisse angezeigt werden.
          hr
          p.text-muted.
            Falls Du diese Web-App gerade erst installiert hast musst Du vermutlich erst einmal initial Daten importieren.
            Bitte schaue in die README um zu erfahren wie das funktioniert.
      else
        h1.mb-3 Alle Daten

        p.
          Auf dieser Seite findest Du alle Daten, die von 
          #[a(href="https://www.kvhh.net/kvhh/pages/index/p/1424") kvhh.net] importiert wurden.

        include partials/code-table.pug
          
    
      include partials/footer.pug

    script(src='/js/jquery.min.js')
    script(src='/js/popper.min.js')
    script(src='/js/bootstrap.min.js')
