doctype html

html(lang="de")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    link(rel='stylesheet', href='/css/bootstrap.min.css')

    title Corona-Abfrage
  
  body
    include partials/navigation.pug
    
    div.container
      div.jumbotron.mt-5
        h1 Code nicht gefunden

        p Der eingegebene Code wurde nicht gefunden.
        
        p.lead Dieser Service wird #[i nicht] von der Kassenärztlichen Vereinigung Hamburg bereitgestellt.

        p.text-muted Alle Angaben sind ohne Gewähr. Keine Garantie auf Vollständigkeit.
      
      a.btn.btn-link.float-right.pr-0(href="/") Weiteren Code abfragen
    
      include partials/footer.pug

    script(src='/js/jquery.min.js')
    script(src='/js/popper.min.js')
    script(src='/js/bootstrap.min.js')
