doctype html

html(lang="de")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    link(rel='stylesheet', href='/css/bootstrap.min.css')

    title Corona-Abfrage
  
  body
    include partials/navigation.pug
    
    div.container
      div.jumbotron.mt-5
        h1 Hier ist das Ergebnis:

        div.card.text-white.bg-danger.mb-3
          div.card-header Positives Ergebnis
          div.card-body
            h5.card-title Bitte bleiben Sie in Quarant채ne.
            p.card-text Bei Ihnen wurde Corona festgestellt.
        
        p.lead Dieser Service wird #[i nicht] von der Kassen채rztlichen Vereinigung Hamburg bereitgestellt.

        p.text-muted Alle Angaben sind ohne Gew채hr. Keine Garantie auf Vollst채ndigkeit.
      
      a.btn.btn-link.float-right.pr-0(href="/") Weiteren Code abfragen

      include footer.pug

    script(src='/js/jquery.min.js')
    script(src='/js/popper.min.js')
    script(src='/js/bootstrap.min.js')
