doctype html

html(lang="de")
  include partials/head.pug
  
  body
    include partials/navigation.pug

    div.container
      h1.mb-3 Suchergebnisse

      if !rows.length
        p Deine Suche nach #[code #{code}] ergab keine Treffer in unseren Daten.

        div.alert.alert-warning.clearfix(role="alert")
          h4.alert-heading Bitte beachten!

          p Die auf dieser Seite zur Verfügung gestellten Informationen erheben keinen Anspruch auf Vollständigkeit.

          p Die Original-Daten findest Du auf der Seite der #[a(href="https://www.kvhh.net/kvhh/pages/index/p/1424") KVHH].
      else

        p Deine Suche nach #[code #{code}] ergab #{rows.length} Treffer.
        
        include partials/code-table.pug
      
      div.text-center
        div.btn-group(role="group" aria-label="Aktionen")
          a.btn.btn-secondary(href="/") Weiteren Code abfragen
    
      include partials/footer.pug

    script(src='/js/jquery.min.js')
    script(src='/js/popper.min.js')
    script(src='/js/bootstrap.min.js')
